#class{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.top i{
	width: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	color: #fff;
	line-height: 0.5rem;
	font-size: 20px;
}
.floors{
	background: #fff;
	margin-bottom: 0.1rem;
	padding: 0 0.15rem;
}
.floors h2{
	line-height: 0.42rem;
	font-size: 16px;
	font-weight: 900;
	color: #333;
}
.floors img{
	box-sizing: border-box;
	padding: 0 0 0.1rem;
}